<header class="header">
      <div class="header__quote-container">
        <blockquote class="header__quote">
          Ze všech vážných věcí je manželství ta nejsměšnější.
        </blockquote>
      </div>

      <nav class="header__menu">

      <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
      <label for="menu-checkbox" class="menu__toggler">☰ MENU</label>

      <div class="menu__container">
        <div class="header__icon">
          <a href="/" class="header__link header__homepage"
            ><img
              src="/images/Home-icon.svg"
              alt="hompage icon"
              class="header__homepage-icon"
          /></a>
        </div>
        <a href="/obrad/" class="header__link header__ceremony {{'header__link--active' if page.fileSlug === 'obrad'}}">Obřad</a>
        <a href="/hostina/" class="header__link header__banquet {{'header__link--active' if page.fileSlug === 'hostina'}}">Hostina</a>
        <a href="/program/" class="header__link header__programm {{'header__link--active' if page.fileSlug === 'program'}}">Program</a>
        <a href="/potvrzeni/" class="header__link header__form {{'header__link--active' if page.fileSlug === 'potvrzeni'}}">Potvrzení účasti</a>
        <a href="/fotogalerie/" class="header__link header__gallery {{'header__link--active' if page.fileSlug === 'fotogalerie'}}">Fotogalerie</a>
        <a href="/info/" class="header__link header__information {{'header__link--active' if page.fileSlug === 'info'}}">Praktické info</a>
        </div>
      </nav>
    </header>